body, html{
  padding: 0;
  margin: 0;
}

header{
  height: 70px;
  width:100%;
  background-color: #282828;
}  

h1{
  position: absolute;
  padding: 3px;
  float: left; 
  margin-left: 2%;
  margin-top: 10px;   
  font-family: 'Alfa Slab One', cursive;
  color: #39ca74;
}

li{
  display: inline-block;
  padding: 15px 30px;
}

ul{
  width: auto;
  float: right;
  margin-top: 8px;
}

a{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2vw;
}
  
